In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

df = yf.download (
    'TSLA' ,
    start = '2024-06-01' , 
    end = '2024-06-19' , 
    progress = False
    
)

df # ejemplo de dataframe con datos de yfinance

# podemos exportar este dataframe a archivo csv

df.to_csv('dataframe.csv')

# tambien lo podemos exportar como excel 

df.to_excel('dataframe.xlsx')

# podemos importar archivos csv y excel

import_df = pd.read_csv('dataframe.csv')
import_df

import_dfe = pd.read_excel('dataframe.xlsx')
import_dfe

,Date,Open,High,Low,Close,Adj Close,Volume
0,2024-06-03,178.130005,182.639999,174.490005,176.289993,176.289993,68568900
1,2024-06-04,174.779999,177.759995,174.000000,174.770004,174.770004,60056300
2,2024-06-05,175.350006,176.149994,172.130005,175.000000,175.000000,57953800
3,2024-06-06,174.600006,179.729996,172.729996,177.940002,177.940002,69887000
4,2024-06-07,176.130005,179.350006,175.580002,177.479996,177.479996,56244900
5,2024-06-10,176.059998,178.570007,173.169998,173.789993,173.789993,50869700
6,2024-06-11,173.919998,174.750000,167.410004,170.660004,170.660004,64761900
7,2024-06-12,171.119995,180.550003,169.800003,177.289993,177.289993,90389400
8,2024-06-13,188.389999,191.080002,181.229996,182.470001,182.470001,118984100
9,2024-06-14,185.800003,186.000000,176.919998,178.009995,178.009995,82038200
10,2024-06-17,177.919998,188.809998,177.000000,187.440002,187.440002,109786100
11,2024-06-18,186.559998,187.199997,182.369995,184.860001,184.860001,68982300